@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "panton";
    src: url("../fonts/panton.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "panton-regular-italic";
    src: url("../fonts/panton-regular-italic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "panton-bold";
    src: url("../fonts/panton-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "panton-semibold";
    src: url("../fonts/panton-semibold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "panton-semibold-italic";
    src: url("../fonts/panton-semibold-italic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ph_500_regular_caps";
    src: url("../fonts/ph_500_regular_caps.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */

/* --------------- site --------------- */
.site {
    position: relative;
    min-height: 100%;
    min-width: 320px;
    font-family: "panton", sans-serif;
    overflow: hidden;
    z-index: 1;
    background: #B8DBE6 url("../img/bg-site.png") no-repeat top center;
}
.site_main {
    background: #B8DBE6;
}
.site:before {
    content: '';
    background: url("../img/sun.png") no-repeat;
    width: 64px;
    height: 97px;
    position: absolute;
    top: 137px;
    right: 0;
    background-size: contain;
}
.site_main:before {
    display: none;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site_air .site__content:before {
    content: '';
    background: url("../img/air.png") no-repeat;
    width: 26px;
    height: 94px;
    position: absolute;
    top: 51px;
    left: 13px;
    background-size: contain;
}
.site_bird .site__content:after {
    content: '';
    background: url("../img/bird.png") no-repeat;
    width: 37px;
    height: 18px;
    position: absolute;
    top: 13px;
    left: 38px;
    background-size: contain;
}
.site__header {
    position: relative;
    height: 50px;
    z-index: 3;
    max-width: 1260px;
    margin: 0 auto;
}
.site__footer {
    position: relative;
    padding: 14px 0 20px;
    background-color: #ebece7;
    z-index: 2;
}
.site__footer:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: url("../img/deco-footer.png") repeat-x 50% 0;
}
.site__footer-layout {
    width: 320px;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 12px;
    font-size: 6px;
}
.site__wrap {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 15px;
}
.site__title {
    font-size: 12px;
    font-weight: 400;
    color: #525251;
    text-align: center;
    text-transform: uppercase;
    font-family: "ph_500_regular_caps", sans-serif;
    padding: 22px 0 18px;
}
/* --------------- /site --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 16px;
    left: 15px;
}
.logo__mobile {
    width: 157px;
    height: auto;
}
.logo__desktop {
    display: none;
}
/* --------------- /logo --------------- */

/* --------------- btn --------------- */
.btn,
a.btn:visited {
    min-width: 90px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 15px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 7px;
    color: #525251;
    font-family: "panton-bold", sans-serif;
    padding: 11px 19px;
    text-align: center;
}
a.btn:hover {
    background: #fff;
}
.btn_2 {
    background: #d7ebf1;
}
.btn_2:hover {
    background: #fff;
}
.btn_3 {
    background: #fff;
}
.btn_3:hover {
    background: #d7ebf1 !important;
}
/* --------------- /btn --------------- */

/* --------------- menu --------------- */
.menu {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    font-family: "panton-bold", sans-serif;
}
.menu__wrap {
    position: absolute;
    top: 50px;
    left: 100%;
    cursor: default;
    -webkit-transition: margin .3s ease;
    transition: margin .3s ease;
    width: 300px;
    background: #c2e1ea;
    border-bottom: 1px solid #fff;
}
.menu.active  .menu__wrap{
    margin-left: -300px;
}
.menu a,
.menu a:visited {
    font-size: 15px;
    color: #535251;
    display: block;
    text-transform: uppercase;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    border-top: 1px solid #fff;
    padding: 10px 10px;
}
.menu a:hover {
    text-decoration: underline;
}
.menu__btn {
    border: none;
    padding: 0;
    position: absolute;
    top: 14px;
    right: 15px;
    width: 23px;
    height: 23px;
    background: none;
}
.menu__btn > span {
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    position: relative;
    border-radius: 2px;
}
.menu__btn > span:before,
.menu__btn > span:after {
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    background: #fff;
    left: 0;
    content: '';
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 2px;
}
.menu.active .menu__btn > span {
    background: transparent;
}
.menu__btn > span:before {
    bottom: 230%;
}
.menu__btn > span:after {
    top: 230%;
}
.menu.active .menu__btn > span:before {
    transform: rotate(45deg);
    bottom: 0;
}
.menu.active .menu__btn > span:after {
    transform: rotate(-45deg);
    top: 0;
}
/* --------------- /menu --------------- */

/* --------------- strategy --------------- */
.strategy {
    position: relative;
    min-height: 251px;
    overflow: hidden;
    padding-bottom: 53.534183%;
}
.strategy__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    text-align: center;
}
.strategy p {
    font-size: 13px;
    color: #525251;
    line-height: 18px;
    margin-bottom: 24px;
}
.strategy strong {
    color: #88b900;
    font-family: "panton-bold", sans-serif;
    font-weight: 400;
}
.strategy__btns {
    font-family: "ph_500_regular_caps", sans-serif;
    color: #525251;
    font-size: 10px;
    text-align: justify;
    width: 290px;
    margin: 0 auto 10px;
}
.strategy__btns > span {
    display: inline-block;
    vertical-align: middle;
}
.strategy__btns:after {
    display: inline-block;
    width: 100%;
    content: '';
}
.strategy__btns .btn {
    vertical-align: middle;
}
/* --------------- /strategy --------------- */

/* --------------- swiffycontainer --------------- */
#swiffycontainer {
    width: 100%;
    padding-bottom: 53.534183%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: #B8DBE6;
}
#swiffycontainer:before {
    content: '';
    background: #B8DBE6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 1;
}
#swiffycontainer > div {
    position: absolute !important;
    top: 0;
    left: 0;
}
/* --------------- /swiffycontainer --------------- */

/* --------------- solutions --------------- */
.solutions {
    background: #ebece7 url("../img/line1.png") no-repeat;
    text-align: center;
}
.solutions .site__title {
    padding-bottom: 21px;
}
.solutions p {
    font-size: 13px;
    color: #525251;
    line-height: 18px;
    margin-bottom: 24px;
}
.solutions strong {
    color: #88b900;
    font-family: "panton-bold", sans-serif;
    font-weight: 400;
}
/* --------------- /solutions --------------- */

/* --------------- complaisance --------------- */
.complaisance{
    position: relative;
    padding-bottom: 20px;
    background: url("../img/bg-decorate.jpg") repeat-x 0 100%/auto 37px #d9ecf0;
}
.complaisance:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    height: 5px;
    background: url("../img/deco-complaisance.png") repeat-x 50% 0;
}
.complaisance .site__title{
    padding-bottom: 16px;
    text-align: left;
}
.complaisance .btn{
    position: absolute;
    left: 147px;
    bottom: -9px;
    width: 113px;
    padding-top: 10px;
    cursor: pointer;
}
.complaisance__img{
    position: absolute;
    top: -9px;
    right: -65px;
    width: 220px;
    height: 156px;
    background: url("../img/bg-complaisance.png") no-repeat center/cover;
}
.complaisance__content{
    margin-right: 145px;
    margin-bottom: 58px;
    font: normal 9px/12px 'panton-regular-italic', sans-serif;
    text-align: left;
}
.complaisance__author{
    position: relative;
    padding-top: 13px;
    color: #9da7a8;
    font: 7px/10px "panton", sans-serif;
}
/* --------------- /complaisance --------------- */

/* --------------- mini-blog --------------- */
.mini-blog{

}
/* --------------- /mini-blog --------------- */

/* --------------- copyright --------------- */
.copyright span{
    display: block;
}
/* --------------- /copyright --------------- */

/* --------------- footer --------------- */
.footer__info{
    display: inline-block;
    vertical-align: top;
    margin-right: 26px;
    font-family: "panton-bold", sans-serif;
    line-height: 7px;
}
.footer__menu{
    display: inline-block;
    vertical-align: top;
    font-family: "panton-bold", sans-serif;
}
.footer__menu a{
    position: relative;
    display: inline-block;
    margin-left: 20px;
    color: #525251;
    transition: border-bottom-color .3s ease;
    -webkit-transition: border-bottom-color .3s ease;
}
.footer__menu a:hover{
    text-decoration: underline;
}
.footer__menu a:first-child{
    margin-left: 0;
}
.footer__menu a:before{
    content: '';
    position: absolute;
    top: 2px;
    left: -13px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #b7b7b4;
}
.footer__menu a:first-child:before{
    display: none;
}
.footer__navigation, .footer__phone,
.footer__email, .footer__skype{
    display: none;
}
/* --------------- /footer --------------- */

@media (min-width: 640px) {
    /* --------------- site --------------- */
    .site__header {
        height: 100px;
    }
    .site__title {
        font-size: 25px;
        padding: 44px 0 36px;
    }
    .site__wrap {
        padding: 0 30px;
    }
    .site__footer{
        padding-top: 30px;
    }
    .site__footer-layout {
        width: 768px;
        font-size: 11px;
    }
    /* --------------- /site --------------- */

    /* --------------- menu --------------- */
    .menu__wrap {
        top: 100px;
    }
    .menu__btn {
        top: 27px;
        right: 30px;
        width: 46px;
        height: 46px;
    }
    .menu__btn > span {
        height: 5px;
    }
    .menu__btn > span:before, .menu__btn > span:after {
        height: 5px;
    }
    .menu__btn > span:before {
        bottom: 300%;
    }
    .menu__btn > span:after {
        top: 300%;
    }
    /* --------------- /menu --------------- */

    /* --------------- logo --------------- */
    .logo {
        top: 32px;
        left: 30px;
    }
    .logo__mobile {
        width: auto;
    }
    /* --------------- /logo --------------- */

    /* --------------- btn --------------- */
    .btn,
    a.btn:visited {
        min-width: 180px;
        height: 60px;
        border: 2px solid #fff;
        border-radius: 30px;
        font-size: 13px;
        padding: 22px 44px;
    }
    /* --------------- /btn --------------- */

    /* --------------- strategy --------------- */
    .strategy {
        min-height: 503px;
    }
    .strategy__wrap .site__wrap {
        max-width: 910px;
    }
    .strategy p {
        font-size: 27px;
        line-height: 36px;
        margin-bottom: 48px;
    }
    .strategy strong {
    }
    .strategy__btns {
        font-size: 20px;
        margin-bottom: 50px;
        width: 580px;
    }
    /* --------------- /strategy --------------- */

    /* --------------- solutions --------------- */
    .solutions .site__title {
        padding-bottom: 38px;
    }
    .solutions p {
        font-size: 27px;
        line-height: 36px;
        margin-bottom: 48px;
    }
    /* --------------- /strategy --------------- */

    /* --------------- complaisance --------------- */
    .complaisance{
        background: url("../img/bg-decorate.jpg") repeat-x 0 100%/auto 134px, url("../img/bg-mini-blog.png") no-repeat 50% 100% #d9ecf0;
    }
    .complaisance .site__title{
        padding-bottom: 30px;
    }
    .complaisance .btn{
        left: 290px;
        bottom: -20px;
        width: 220px;
        padding-top: 17px;
        font-size: 14px;
    }
    .complaisance__content{
        margin-bottom: 114px;
        font-size: 18px;
        line-height: 24px;
    }
    .complaisance__img{
        top: -17px;
        right: -145px;
        width: 439px;
        height: 312px;
    }
    .complaisance__content{
        margin-right: 273px;
    }
    .complaisance__author {
        padding-top: 26px;
        font-size: 14px;
        line-height: 20px;
    }
    /* --------------- /complaisance --------------- */

    /* --------------- copyright --------------- */
    .copyright{
        line-height: 14px;
    }
    /* --------------- /copyright --------------- */

    /* --------------- footer --------------- */
    .footer__info{
        margin-right: 59px;
    }
    .footer__menu a{
        margin-left: 44px;
    }
    .footer__menu a:before{
        top: 3px;
        left: -28px;
        width: 6px;
        height: 6px;
    }
    /* --------------- /footer --------------- */
}

@media (min-width: 1320px) {

    /* --------------- site --------------- */
    .site:after {
        content: '';
        display: block;
        clear: both;
        width: 100%;
        height: 320px;
    }
    .site:before {
        width: 125px;
        height: 191px;
        top: 197px;
    }
    .site__header {
        height: 209px;
    }
    .site__footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 320px;
        padding-top: 77px;
        padding-bottom: 0;
        background: url("../img/bg-footer.png") no-repeat -115px 100% #ebece7;
    }
    .site__title {
        font-size: 25px;
        padding: 55px 0 35px;
    }
    .site__footer-layout{
        width: 1260px;
        margin: 0 auto;
        padding: 0;
    }
    /* --------------- /site --------------- */

    /* --------------- logo --------------- */
    .logo {
        left: 0;
        top: 93px;
    }
    .logo__mobile {
        display: none;
    }
    .logo__desktop {
        display: block;
    }
    /* --------------- /logo --------------- */

    /* --------------- btn --------------- */
    .btn {
        padding: 22px 53px;
    }
    /* --------------- /btn --------------- */

    /* --------------- menu --------------- */
    .menu {
        top: 100px;
    }
    .menu__wrap {
        left: auto;
        top: auto;
        background: transparent;
        width: 638px;
        text-align: justify;
        position: relative;
        border: none;
    }
    .menu__wrap:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
    .menu a {
        display: inline-block;
        vertical-align: top;
        padding: 0;
        border: none;
    }
    .menu__btn {
        display: none;
    }
    /* --------------- /menu --------------- */

    /* --------------- solutions --------------- */
    .solutions {
    }
    .solutions p {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 42px;
    }
    .solutions strong {
    }
    .solutions .site__title {
        padding-bottom: 50px;
    }
    .solutions .site__wrap {
        max-width: 1000px;
    }
    /* --------------- /solutions --------------- */

    /* --------------- strategy --------------- */
    .strategy {
    }
    .strategy__wrap {
    }
    .strategy p {
        font-size: 35px;
        line-height: 50px;
    }
    .strategy strong {
    }
    .strategy__btns {
        width: 620px;
    }
    /* --------------- /strategy --------------- */

    /* --------------- complaisance --------------- */
    .complaisance{
        padding-top: 58px;
        background: url("../img/bg-decorate.jpg") repeat-x 0 100%/auto, url("../img/bg-mini-blog.png") no-repeat 50% 100% #d9ecf0;
    }
    .complaisance .btn {
        left: 318px;
        bottom: -8px;
        width: 235px;
        padding-top: 19px;
    }
    .complaisance .site__title{
        text-align: center;
    }
    .complaisance__img{
        top: -38px;
        right: -133px;
        width: 855px;
        height: 606px;
    }
    .complaisance__content{
        margin-bottom: 123px;
        font-size: 30px;
        line-height: 45px;
        margin-right: 600px;
    }
    .complaisance__author {
        padding-top: 54px;
    }
    /* --------------- /complaisance --------------- */

    /* --------------- copyright --------------- */
    .copyright{
        display: block;
        margin-bottom: 19px;
        font-size: 15px;
        line-height: 20px;
    }
    /* --------------- /copyright --------------- */

    /* --------------- footer --------------- */
    .footer__info{
        margin-right: 113px;
        padding-top: 5px;
        line-height: 21px;
    }
    .footer__menu{
        margin-right: 127px;
    }
    .footer__menu a{
        display: block;
        margin-left: 0;
        font-size: 15px;
        line-height: 29px;
    }
    .footer__menu a:hover{
        text-decoration: underline;
    }
    .footer__menu a:before{
        display: none;
    }
    .footer__navigation{
        display: inline-block;
        margin-right: 50px;
        vertical-align: top;
        font-size: 13px;
        line-height: 20px;
    }
    .footer__navigation:last-child{
        margin-right: 0;
    }
    .footer__navigation a{
        color: #535251;
    }
    .footer__navigation a:hover{
        text-decoration: underline;
    }
    .footer__navigation dt{
        margin-bottom: 13px;
        font: 12px/30px "panton-bold", sans-serif;
        letter-spacing: 0.7px;
        text-transform: uppercase;
    }
    .footer__phone,
    .footer__email,
    .footer__skype{
        display: block;
        font-size: 15px;
        color: #525251;
        cursor: default;
    }
    .footer__email{
        margin-bottom: 13px;
        font-size: 13px;
    }
    .footer__skype{
        position: relative;
        padding-left: 30px;
        font-size: 13px;
    }
    .footer__skype:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: url("../img/icons-skype.png") no-repeat 0 0;
    }
    /* --------------- /footer --------------- */
}