@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 15.01.2013

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "panton";
    src: url("../fonts/panton.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "panton-regular-italic";
    src: url("../fonts/panton-regular-italic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "panton-bold";
    src: url("../fonts/panton-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "panton-semibold";
    src: url("../fonts/panton-semibold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "panton-semibold-italic";
    src: url("../fonts/panton-semibold-italic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "panton-extrabold";
    src: url("../fonts/panton-extrabold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ph_500_regular_caps";
    src: url("../fonts/ph_500_regular_caps.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */

/* --------------- site --------------- */
.site {
    position: relative;
    min-height: 100%;
    min-width: 320px;
    font-family: "panton", sans-serif;
    overflow: hidden;
    z-index: 1;
    background: #B8DBE6 url("../img/bg-site.png") no-repeat top center;
    background-size: contain;
}
.site_contacts{
    background: url("../img/bg-site.png") no-repeat top left/193% auto,
    url("../img/bg-contacts.jpg") no-repeat 0 47px/233% auto #b6e2eb;
}
.site_main {
    background: #B8DBE6;
}
.site:before {
    content: '';
    background: url("../img/sun.png") no-repeat;
    width: 64px;
    height: 97px;
    position: absolute;
    top: 137px;
    right: 0;
    background-size: contain;
}
.site_main:before {
    display: none;
}
.site_contacts:before{
    top: 69px;
    width: 32px;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site_air .site__content:before {
    content: '';
    background: url("../img/air.png") no-repeat;
    width: 26px;
    height: 94px;
    position: absolute;
    top: 102px;
    left: 13px;
    background-size: contain;
    z-index: 1;
}
.site_bird .site__content:after {
    content: '';
    background: url("../img/bird.png") no-repeat;
    width: 37px;
    height: 18px;
    position: absolute;
    top: 13px;
    left: 38px;
    background-size: contain;
}
.site_contacts.site_bird .site__content:after{
    top: 45px;
    left: 17px;
    width: 54px;
    height: 27px;
}
.site_contacts .site__content:before {
    content: '';
    background: url("../img/icons-place.png") no-repeat;
    width: 24px;
    height: 30px;
    position: absolute;
    top: 245px;
    left: 228px;
    background-size: contain;
}
.site__header {
    position: relative;
    height: 50px;
    z-index: 3;
    max-width: 1260px;
    margin: 0 auto;
}
.site__footer {
    position: relative;
    padding: 14px 0 20px;
    background-color: #ebece7;
    z-index: 2;
}
.site__footer:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    height: 5px;
    background: url("../img/deco-footer.png") repeat-x 50% 0;
}
.site__footer-layout {
    width: 320px;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 12px;
    font-size: 6px;
}
.site__wrap {
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 2;
}
.site__title {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #525251;
    text-align: center;
    text-transform: uppercase;
    font-family: "ph_500_regular_caps", sans-serif;
    padding: 19px 0 15px;
}
.site__title > span {
    display: block;
}
/* --------------- /site --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 16px;
    left: 15px;
}
.logo__mobile {
    width: 157px;
    height: auto;
}
.logo__desktop {
    display: none;
}
/* --------------- /logo --------------- */

/* --------------- btn --------------- */
.btn,
a.btn:visited {
    min-width: 90px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 15px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 7px;
    color: #525251;
    font-family: "panton-bold", sans-serif;
    padding: 11px 19px;
    text-align: center;
    background: #ebece7;
    cursor: pointer;
}
.btn:hover {
    background: #fff;
}
.btn_2 {
    background: #d7ebf1;
}
.btn_2:hover {
    background: #fff;
}
.btn_3 {
    background: #fff;
}
.btn_3:hover {
    background: #d7ebf1 !important;
}
a.btn_4 {
    position: relative;
    width: 111px;
    height: 43px;
    padding: 14px 0 0;
    border: none;
    font-size: 7px;
    background: url("../img/bg-patch.png") no-repeat 0 0/100% auto;
    z-index: 2;
}
a.btn_4:hover {
    border: none;
    background: url("../img/bg-patch.png") no-repeat 0 0/100% auto;
}
a.btn_4:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/bg-patch.png") no-repeat 0 -59px/100% auto;
    opacity: 0;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    z-index: -1;
}
a.btn_4:hover:after{
    opacity: 1;
}
.btn_5 {
    background: #fff;
}
.btn_5:hover {
    background: #ebece7 !important;
}
/* --------------- /btn --------------- */

/* --------------- menu --------------- */
.menu {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    font-family: "panton-bold", sans-serif;
}
.menu__wrap {
    position: absolute;
    top: 50px;
    left: 100%;
    cursor: default;
    -webkit-transition: margin .3s ease;
    transition: margin .3s ease;
    width: 300px;
    background: #c2e1ea;
    border-bottom: 1px solid #fff;
}
.menu.active  .menu__wrap{
    margin-left: -300px;
}
.menu a,
.menu a:visited {
    font-size: 15px;
    color: #535251;
    display: block;
    text-transform: uppercase;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    border-top: 1px solid #fff;
    padding: 10px 10px;
}
.menu a:hover {
    text-decoration: underline;
}
.menu__btn {
    border: none;
    padding: 0;
    position: absolute;
    top: 14px;
    right: 15px;
    width: 23px;
    height: 23px;
    background: none;
}
.menu__btn > span {
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    position: relative;
    border-radius: 2px;
}
.menu__btn > span:before,
.menu__btn > span:after {
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    background: #fff;
    left: 0;
    content: '';
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border-radius: 2px;
}
.menu.active .menu__btn > span {
    background: transparent;
}
.menu__btn > span:before {
    bottom: 230%;
}
.menu__btn > span:after {
    top: 230%;
}
.menu.active .menu__btn > span:before {
    transform: rotate(45deg);
    bottom: 0;
}
.menu.active .menu__btn > span:after {
    transform: rotate(-45deg);
    top: 0;
}
/* --------------- /menu --------------- */

/* --------------- strategy --------------- */
.strategy {
    position: relative;
    min-height: 251px;
    overflow: hidden;
    padding-bottom: 53.534183%;
}
.strategy__wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    text-align: center;
}
.strategy p {
    font-size: 13px;
    color: #525251;
    line-height: 18px;
    margin-bottom: 24px;
}
.strategy strong {
    color: #88b900;
    font-family: "panton-bold", sans-serif;
    font-weight: 400;
}
.strategy__btns {
    font-family: "ph_500_regular_caps", sans-serif;
    color: #525251;
    font-size: 10px;
    text-align: justify;
    width: 290px;
    margin: 0 auto 10px;
}
.strategy__btns > span {
    display: inline-block;
    vertical-align: middle;
}
.strategy__btns:after {
    display: inline-block;
    width: 100%;
    content: '';
}
.strategy__btns .btn {
    vertical-align: middle;
}
/* --------------- /strategy --------------- */

/* --------------- swiffycontainer --------------- */
#swiffycontainer {
    width: 100%;
    padding-bottom: 53.534183%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: url("../img/strategy-bg.jpg") no-repeat;
    background-size: cover;
}
#swiffycontainer:before {
    content: '';
    background: #B8DBE6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    z-index: 1;
}
#swiffycontainer > div {
    position: absolute !important;
    top: 0;
    left: 0;
    display: none;
}
/* --------------- /swiffycontainer --------------- */

/* --------------- solutions --------------- */
.solutions {
    padding-bottom: 65px;
    background: #ebece7 url("../img/line1.png") no-repeat;
    text-align: center;
}
.solutions__wrap {
    margin: 0 auto;
    padding: 0 15px;
}
.solutions .site__title {
    padding-bottom: 21px;
}
.solutions p {
    font-size: 13px;
    color: #525251;
    line-height: 18px;
    margin-bottom: 24px;
}
.solutions strong {
    color: #88b900;
    font-family: "panton-bold", sans-serif;
    font-weight: 400;
}
.solutions__inform {
    text-align: justify;
    padding-top: 19px;
}
.solutions__inform:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.solutions__ban {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
}
.solutions__ban img {
    display: block;
    max-width: 139%;
    float: right;
}
.solutions__indicators {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 5px;
    color: #535251;
    position: relative;
}
.solutions__indicators:after {
    content: '';
    display: block;
    clear: both;
}
.solutions__indicators:after {
    content: '';
    background: url("../img/solutions-inform-bg.png") no-repeat center;
    background-size: contain;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    z-index: 1;
}
.solutions__indicators li {
    float: left;
    width: 50%;
    text-align: center;
    padding: 18px 0;
    position: relative;
    z-index: 2;
}
.solutions__indicators strong {
    font-family: "panton-bold", sans-serif;
    font-size: 18px;
    color: #d8533d;
    display: block;
    padding: 9px 0;
    letter-spacing: -1px;
}
/* --------------- /solutions --------------- */

/* --------------- service --------------- */
.service {
    padding: 18px 0 0 0;
}
.service__title {
    font-size: 25px;
    color: #82c500;
    font-family: "panton-semibold", sans-serif;
    font-weight: 400;
    padding: 0 0 18px 37px;
}
.service__preview {
    color: #525251;
    font-size: 10px;
    margin: 0 0 11px 36px;
    padding-left: 12px;
    position: relative;
}
.service__preview:before {
    content: '';
    background: url("../img/point.png") repeat-y;
    background-size: contain;
    width: 2px;
    bottom: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.service__preview .site__title {
    padding: 0 0 5px 0;
    text-align: left;
}
.service__preview p {
    font-family: "panton-regular-italic", sans-serif;
    line-height: 15px;
}
.service__wrap {
    position: relative;
    color: #525251;
    max-width: 320px;
    margin: -5px auto 0;
    z-index: 2;
}
.service__wrap:after {
    content: '';
    display: block;
    clear: both;
}
.service__wrap li {
    position: relative;
    margin-bottom: 90px;
    height: 150px;
}
.service__wrap li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200%;
    background-image: url("../img/line2.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto 100%;
    z-index: 1;
}
.service__wrap li:nth-child(even):before {
    background-position: top right;
    left: auto;
    right: 0;
}
.service__wrap li:nth-child(odd) .service__item:nth-child(odd) > span:first-child,
.service__wrap li:nth-child(even) .service__item:nth-child(even) > span:first-child {
    padding-top: 5px;
}
.service__wrap li:nth-child(odd) .service__item:nth-child(even) > span:nth-child(even),
.service__wrap li:nth-child(even) .service__item:nth-child(odd) > span:nth-child(even) {
    padding-top: 5px;
}
.service__item {
    margin: 0 15px 0 0;
    position: relative;
    z-index: 2;
}
.service__item:after {
    content: '';
    display: block;
    clear: both;
}
.service__item:nth-child(even) {
    margin: 0 0 0 15px;
}
.service__item > span {
    width: 50%;
    float: left;
    height: 120px;
    text-align: center;
    font-size: 9px;
    padding: 0 20px;
    line-height: 13px;
}
.service__item > span:before {
    content: attr(data-num);
    font-family: "panton-bold", sans-serif;
    color: #ffba00;
    font-size: 10px;
    text-align: center;
    padding: 6px 0;
    background: url("../img/services-circle.png") no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    display: block;
    margin: 0 auto 5px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.service__hide {
    display: none;
}
/* --------------- /service --------------- */

/* --------------- steps --------------- */
.steps {
    background: #ebece7 url("../img/line1.png") no-repeat 0 0;
    position: relative;
    padding: 5px 0 26px 0;
}
.steps:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    height: 5px;
    background: url("../img/deco-footer.png") repeat-x 50% 0;
}
.steps:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
    background: url("../img/deco-footer.png") repeat-x 50% 0;
}
.steps__wrap {
    position: relative;
    height: 240px;
    max-width: 580px;
    margin: 0 auto;
}
.steps__ban {
    position: absolute;
    top: 11px;
    left: -109px;
}
.steps__ban img {
    display: block;
    width: 227px;
    height: 227px;
    border-radius: 50%;
    border: 4px solid rgba(255,255,255, .5);
}
.steps ul {
    font-family: "panton-semibold", sans-serif;
    font-size: 8px;
    line-height: 15px;
    text-transform: uppercase;
    color: #525251;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.steps li {
    position: absolute;
    padding-left: 23px;
    right: 0;
}
.steps li:before {
    content: '';
    width: 14px;
    position: absolute;
    top: 6px;
    left: 0;
    height: 1px;
    background: #dc0f11;
}
.steps__item1 {
    top: 13px;
    left: 65px;
}
.steps__item2 {
    top: 52px;
    left: 106px;
}
.steps__item3 {
    top: 91px;
    left: 122px;
}
.steps__item4 {
    top: 131px;
    left: 125px;
}
.steps__item5 {
    top: 169px;
    left: 115px;
}
.steps__item6 {
    top: 207px;
    left: 88px;
}
.steps__btns {
    display: none;
}
/* --------------- /steps --------------- */

/* --------------- reviews --------------- */
.reviews {
    background: url("../img/reviews-bg.jpg") no-repeat top center;
    background-size: cover;
    padding: 40px 0 32px 0;
}
.reviews .site__title {
    padding: 17px 0 9px 40px;
}
.reviews .site__wrap {
    background: url("../img/sky.png") no-repeat center;
    background-size: contain;
    min-height: 166px;
}
.reviews .swiper-container {
    width: 290px;
}
.reviews__item {
    padding: 0 17%;
    color: #525251;
}
.reviews__item p {
    font-size: 10px;
    line-height: 14px;
    font-family: "panton-regular-italic", sans-serif;
    margin-bottom: 29px;
}
.reviews .swiper-button-prev,
.reviews .swiper-button-next {
    width: 40px;
    height: 40px;
    background: #b6e2eb;
    border-radius: 50%;
    margin-top: -37px;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.reviews .swiper-button-prev {
    left: 0;
}
.reviews .swiper-button-next {
    right: 0;
}
.reviews .swiper-button-prev:before,
.reviews .swiper-button-next:before {
    content: '';
    background: url("../img/arrow.png") no-repeat;
    background-size: contain;
    width: 8px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -11px 0 0 -4px;
}
.reviews .swiper-button-next:before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.reviews .swiper-button-prev:hover,
.reviews .swiper-button-next:hover {
    opacity: .8;
}
.reviews__author {
    font-size: 7px;
    line-height: 10px;
    font-family: "panton-semibold", sans-serif;
    overflow: hidden;
    display: table;
    width: 100%;
    padding-left: 15px;
}
.reviews__author-ava {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: table-cell;
    vertical-align: top;
    overflow: hidden;
}
.reviews__author-ava img {
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.reviews__author-info {
    display: table-cell;
    vertical-align: top;
    padding: 3px 0 0 9px;
}
.reviews__author-info span {
    display: block;
}
/* --------------- /reviews --------------- */

/* --------------- complaisance --------------- */
.complaisance{
    position: relative;
    padding-bottom: 120px;
    background: url("../img/bg-decorate.jpg") repeat-x 0 100%/auto 92px #d9ecf0;
}
.complaisance:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    height: 5px;
    background: url("../img/deco-complaisance.png") repeat-x 50% 0;
}
.complaisance .site__title{
    padding-bottom: 16px;
    text-align: left;
}
.complaisance .btn_3{
    position: absolute;
    left: 147px;
    bottom: -9px;
    width: 113px;
    padding-top: 10px;
    cursor: pointer;
}
.complaisance__img{
    position: absolute;
    top: -9px;
    right: -65px;
    width: 220px;
    height: 156px;
    background: url("../img/bg-complaisance.png") no-repeat center/cover;
}
.complaisance__content{
    margin-right: 145px;
    margin-bottom: 58px;
    font: normal 9px/12px 'panton-regular-italic', sans-serif;
    text-align: left;
}
.complaisance__author{
    position: relative;
    padding-top: 13px;
    color: #9da7a8;
    font: 7px/10px "panton", sans-serif;
}
/* --------------- /complaisance --------------- */

/* --------------- mini-blog --------------- */
.mini-blog{
    overflow: hidden;
}
.mini-blog__list{
    float: right;
    width: 141px;
    margin-top: 21px;
    font-size: 7px;
    line-height: 9px;
}
.mini-blog__list li{
    position: relative;
    margin-bottom: 19px;
    padding-left: 62px;
}
.mini-blog__list li a{
    color: #525251;
    font-family: "panton-semibold", sans-serif;
}
.mini-blog__list li a:hover{
    text-decoration: underline;
}
.mini-blog__list time{
    position: absolute;
    left: 13px;
    top: 0;
    font-family: "panton-semibold-italic", sans-serif;
    color: #535251;
}
.mini-blog__list time:before{
    content: '';
    position: absolute;
    top: 0;
    left: -13px;
    width: 7px;
    height: 7px;
    background: url("../img/icons-clock.png") no-repeat 0 0/100%;
}
.mini-blog__new{
    margin-right: 160px;
    padding-top: 8px;
    font: 15px/18px "panton-semibold", sans-serif;
    overflow: hidden;
}
.mini-blog__new h2{
    margin-bottom: 3px;
}
.mini-blog__new a{
    color: #6183a2;
}
.mini-blog__new a:hover{
    text-decoration: underline;
}
.mini-blog__new time{
    font-size: 7px;
    color: #525251;
}
/* --------------- /mini-blog --------------- */

/* --------------- contacts --------------- */
.contacts{
    padding-top: 16px;
}
.contacts h1{
    margin-bottom: 30px;
    color: #82c500;
    font: 25px "panton-semibold", sans-serif;
    text-align: center;
}
.contacts .site__title{
    padding-bottom: 25px;
    font-size: 16px;
}
.contacts__callback{
    width: 290px;
    padding-left: 11px;
    margin: auto;
}
.contacts__callback fieldset{
    margin-bottom: 13px;
}
.contacts__callback label{
    display: inline-block;
    width: 75px;
    font-size: 9px;
    vertical-align: middle;
}
.contacts__callback fieldset input,
.contacts__callback fieldset textarea{
    width: 190px;
    height: 27px;
    padding: 0 14px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font: 10px "panton-semibold", sans-serif;
}
.contacts__callback .btn-wrap{
    margin-bottom: 39px;
    padding-top: 24px;
    text-align: left;
}
.contacts__callback .btn-wrap .btn{
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "panton-extrabold", sans-serif;
}
.contacts__callback-textarea{
    position: relative;
    padding: 7px 0 14px;
}
.contacts__callback-textarea:after,
.contacts__callback-textarea:before{
    content: '';
    position: absolute;
}
.contacts__callback-textarea:before{
    top: 0;
    right: 20px;
    width: 38px;
    height: 31px;
    background: url("../img/bird3.png") no-repeat;
    background-size: cover;
}
.contacts__callback-textarea:after{
    right: 14px;
    bottom: -7px;
    width: 56px;
    height: 22px;
    background: url("../img/bg-patch.png") no-repeat 85% 100%;
}
.contacts__callback-textarea label{
    margin-bottom: 15px;
}
.contacts__callback fieldset textarea{
    display: block;
    width: 270px;
    height: 63px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.contacts__callback-file {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 90px;
    height: 25px;
    margin-left: 15px;
    border: 1px solid #fff;
    border-radius: 25px;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    cursor: default;
    transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
}
.contacts__callback-file:hover{
    background-color: transparent;
}
.contacts__callback-file:before{
    content: 'Выбрать файл';
    position: relative;
    top: 1px;
    font: 7px "panton-extrabold", sans-serif;
    text-transform: uppercase;
}
.contacts__callback-file input {
    height: 90px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    font-size: 200px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    cursor: pointer;
}
.contacts__callback-desktop{
    display: none!important;
}
/* --------------- /contacts --------------- */

/* --------------- address --------------- */
.address{
    width: 270px;
    height: 172px;
    margin-left: -26px;
    margin-bottom: 53px;
    padding-top: 49px;
    padding-left: 52px;
    background: url("../img/bg-address.png") no-repeat 0 0/cover;
    font: 14px/19px "panton-semibold", sans-serif;
    color: #525251;
}
.address a{
    font-size: 10px;
    color: #525251;
    cursor: default;
}
.address > a{
    margin-right: 15px;
}
.address address{
    width: 160px;
    margin-bottom: 2px;
    font-style: normal;
}
.address address a{
    font-size: 14px;
}
.address__social{
    padding-top: 11px;
}
.address__social a{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    background: url("../img/icons-social.png") no-repeat 0 0/auto 12px;
    transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
    cursor: pointer;
}
.address__social a:hover{
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
    height: 13px;
}
.address__social a+a{
    background-position: -19px 0;
}
.address__social a+a+a{
    background-position: -41px 0;
}
/* --------------- /address --------------- */

/* --------------- download --------------- */
.download {
    display: none;
}
/* --------------- /download --------------- */

/* --------------- copyright --------------- */
.copyright span{
    display: block;
}
/* --------------- /copyright --------------- */

/* --------------- footer --------------- */
.footer__info{
    display: inline-block;
    vertical-align: top;
    margin-right: 26px;
    font-family: "panton-bold", sans-serif;
    line-height: 7px;
}
.footer__menu{
    display: inline-block;
    vertical-align: top;
    font-family: "panton-bold", sans-serif;
}
.footer__menu a{
    position: relative;
    display: inline-block;
    margin-left: 20px;
    color: #525251;
    transition: border-bottom-color .3s ease;
    -webkit-transition: border-bottom-color .3s ease;
}
.footer__menu a:hover{
    text-decoration: underline;
}
.footer__menu a:first-child{
    margin-left: 0;
}
.footer__menu a:before{
    content: '';
    position: absolute;
    top: 2px;
    left: -13px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #b7b7b4;
}
.footer__menu a:first-child:before{
    display: none;
}
.footer__navigation, .footer__phone,
.footer__email, .footer__skype{
    display: none;
}
/* --------------- /footer --------------- */

@media (min-width: 640px) {
    /* --------------- site --------------- */

    .site_air .site__content:before {
        width: 52px;
        height: 187px;
        top: 204px;
        left: 26px;
    }
    .site:before{
        top: 139px;
        width: 64px;
    }
    .site_contacts.site_bird .site__content:after{
        top: 90px;
        left: 31px;
        width: 111px;
        height: 59px;
    }
    .site_contacts .site__content:before{
        top: 489px;
        left: 455px;
        width: 45px;
        height: 60px;
    }
    .site__header {
        height: 100px;
    }
    .site__title {
        font-size: 25px;
        line-height: 35px;
        padding: 35px 0 28px;
    }
    .site__wrap {
        padding: 0 30px;
    }
    .site__footer{
        padding-top: 30px;
    }
    .site__footer-layout {
        width: 768px;
        font-size: 11px;
    }
    /* --------------- /site --------------- */

    /* --------------- menu --------------- */
    .menu__wrap {
        top: 100px;
    }
    .menu__btn {
        top: 27px;
        right: 30px;
        width: 46px;
        height: 46px;
    }
    .menu__btn > span {
        height: 5px;
    }
    .menu__btn > span:before, .menu__btn > span:after {
        height: 5px;
    }
    .menu__btn > span:before {
        bottom: 300%;
    }
    .menu__btn > span:after {
        top: 300%;
    }
    /* --------------- /menu --------------- */

    /* --------------- logo --------------- */
    .logo {
        top: 32px;
        left: 30px;
    }
    .logo__mobile {
        width: auto;
    }
    /* --------------- /logo --------------- */

    /* --------------- btn --------------- */
    .btn,
    a.btn:visited {
        min-width: 180px;
        height: 60px;
        border: 2px solid #fff;
        border-radius: 30px;
        font-size: 13px;
        padding: 22px 44px;
    }
    a.btn_4 {
        width: 222px;
        height: 85px;
        padding-top: 28px;
        border: none;
        font-size: 15px;
        background: url("../img/bg-patch.png") no-repeat 0 0;
    }
    .btn_4:hover {
        background-position: 0 0;
    }
    a.btn_4:after{
        background-position: 0 -118px;
    }
    /* --------------- /btn --------------- */

    /* --------------- strategy --------------- */
    .strategy {
        min-height: 503px;
    }
    .strategy__wrap .site__wrap {
        max-width: 910px;
    }
    .strategy p {
        font-size: 27px;
        line-height: 36px;
        margin-bottom: 48px;
    }
    .strategy__btns {
        font-size: 20px;
        margin-bottom: 50px;
        width: 580px;
    }
    /* --------------- /strategy --------------- */

    /* --------------- solutions --------------- */
    .solutions .site__title {
        padding-bottom: 38px;
    }
    .solutions p {
        font-size: 27px;
        line-height: 36px;
        margin-bottom: 48px;
    }
    .solutions__indicators {
        font-size: 10px;
    }
    .solutions__inform {
        padding-top: 39px;
    }
    .solutions__ban img {
        max-width: 136%;
    }
    .solutions__indicators li {
        padding: 35px 0;
    }
    .solutions__indicators strong {
        font-size: 36px;
        padding: 12px 0 22px;
    }
    /* --------------- /strategy --------------- */

    /* --------------- service --------------- */
    .service {
        padding: 37px 0 0 0;
    }
    .service__title {
        font-size: 50px;
        padding: 0 0 37px 74px;
    }
    .service__preview {
        font-size: 20px;
        margin: 0 0 26px 72px;
        padding-left: 24px;
    }
    .service__preview:before {
        width: 4px;
        top: 4px;
        bottom: 20px;
    }
    .service__preview .site__title {
        padding: 0 0 9px 0;
    }
    .service__preview p {
        line-height: 30px;
    }
    .service__wrap {
        max-width: 580px;
    }
    .service__wrap:after {
    }
    .service__wrap li {
        margin-bottom: 150px;
        height: 200px;
    }
    .service__wrap li:nth-child(odd) .service__item:nth-child(odd) > span:first-child,
    .service__wrap li:nth-child(even) .service__item:nth-child(even) > span:first-child {
        padding-top: 15px;
    }
    .service__wrap li:nth-child(odd) .service__item:nth-child(even) > span:nth-child(even),
    .service__wrap li:nth-child(even) .service__item:nth-child(odd) > span:nth-child(even) {
        padding-top: 15px;
    }
    .service__item {
        margin: 0 15px 0 0;
    }
    .service__item:nth-child(even) {
        margin: 0 0 0 15px;
    }
    .service__item > span {
        margin: -20px 0 20px;
        height: 170px;
        font-size: 18px;
        line-height: 26px;
    }
    .service__item > span:before {
        content: attr(data-num);
        font-size: 20px;
        padding: 14px 0;
        width: 50px;
        height: 50px;
        margin: 0 auto 10px;
    }
    /* --------------- /service --------------- */

    /* --------------- steps --------------- */
    .steps {
        padding: 14px 0 54px 0;
    }
    .steps__wrap {
        height: 485px;
        max-width: 580px;
    }
    .steps__ban {
        top: 26px;
        left: -214px;
    }
    .steps__ban img {
        width: 454px;
        height: 454px;
        border-width: 8px;
    }
    .steps ul {
        font-size: 17px;
        line-height: 30px;
    }
    .steps li {
        padding-left: 47px;
    }
    .steps li:before {
        width: 28px;
        top: 11px;
    }
    .steps__item1 {
        top: 29px;
        left: 132px;
    }
    .steps__item2 {
        top: 107px;
        left: 214px;
    }
    .steps__item3 {
        top: 185px;
        left: 248px;
    }
    .steps__item4 {
        top: 265px;
        left: 253px;
    }
    .steps__item5 {
        top: 341px;
        left: 232px;
    }
    .steps__item6 {
        top: 419px;
        left: 179px;
    }
    /* --------------- /steps --------------- */

    /* --------------- reviews --------------- */
    .reviews {
        padding: 75px 0 60px 0;
    }
    .reviews .site__wrap {
        min-height: 330px;
    }
    .reviews .site__title {
        padding: 35px 0 19px;
        margin-left: 91px;
    }
    .reviews .swiper-container {
        width: 580px;
    }
    .reviews__item {
        padding: 0 100px;
    }
    .reviews__item p {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 32px;
    }
    .reviews .swiper-button-prev,
    .reviews .swiper-button-next {
        width: 80px;
        height: 80px;
        margin-top: -62px;
    }
    .reviews .swiper-button-prev:before,
    .reviews .swiper-button-next:before {
        width: 16px;
        height: 44px;
        margin: -22px 0 0 -8px;
    }
    .reviews__author {
        font-size: 13px;
        line-height: 17px;
        padding-left: 33px;
    }
    .reviews__author-ava {
        width: 40px;
        height: 40px;
    }
    .reviews__author-info {
        padding: 5px 0 0 16px;
    }
    /* --------------- /reviews --------------- */

    /* --------------- complaisance --------------- */
    .complaisance{
        padding-bottom: 204px;
        background: url("../img/bg-decorate.jpg") repeat-x 0 100%/auto 180px, url("../img/bg-mini-blog.png") no-repeat 50% 100% #d9ecf0;
    }
    .complaisance .site__title{
        padding-bottom: 30px;
    }
    .complaisance .btn_3{
        left: 290px;
        bottom: -20px;
        width: 220px;
        padding-top: 17px;
        font-size: 14px;
    }
    .complaisance__content{
        margin-bottom: 114px;
        font-size: 18px;
        line-height: 24px;
    }
    .complaisance__img{
        top: -17px;
        right: -145px;
        width: 439px;
        height: 312px;
    }
    .complaisance__content{
        margin-right: 273px;
    }
    .complaisance__author {
        padding-top: 26px;
        font-size: 14px;
        line-height: 20px;
    }
    /* --------------- /complaisance --------------- */

    /* --------------- mini-blog --------------- */
    .mini-blog__list{
        width: 277px;
        margin-top: 42px;
        font-size: 14px;
        line-height: 16px;
    }
    .mini-blog__list li{
        margin-bottom: 39px;
        padding-left: 119px;
    }
    .mini-blog__list time{
        left: 30px;
    }
    .mini-blog__list time:before{
        top: 1px;
        left: -26px;
        width: 15px;
        height: 15px;
    }
    .mini-blog__new{
        margin-right: 320px;
        padding-top: 16px;
        font-size: 30px;
        line-height: 36px;
    }
    .mini-blog__new time{
        font-size: 14px;
    }
    /* --------------- /mini-blog --------------- */

    /* --------------- contacts --------------- */
    .contacts{
        padding-top: 31px;
    }
    .contacts h1{
        margin-bottom: 61px;
        font-size: 50px;
    }
    .contacts .site__title{
        padding-bottom: 55px;
        font-size: 29px;
    }
    .contacts fieldset input, .contacts textarea{
        width: 190px;
        border: none;
        border-radius: 5px;
        background-color: #fff;
    }
    .contacts__callback{
        width: 563px;
        padding-left: 22px;
    }
    .contacts__callback fieldset {
        margin-bottom: 31px;
    }
    .contacts__callback label {
        width: 158px;
        font-size: 18px;
    }
    .contacts__callback fieldset input,
    .contacts__callback fieldset textarea{
        width: 379px;
        height: 49px;
        padding: 0 25px;
        font-size: 15px;
    }
    .contacts__callback-textarea{
        padding: 13px 0 21px;
    }
    .contacts__callback-textarea:before{
        width: 76px;
        height: 62px;
    }
    .contacts__callback-textarea:after{
        right: 23px;
        bottom: 0;
    }
    .contacts__callback-textarea label{
        margin-bottom: 27px;
    }
    .contacts__callback fieldset textarea{
        width: 540px;
        height: 130px;
        border-radius: 15px;
    }
    .contacts__callback-file{
        width: 180px;
        height: 50px;
        margin-left: 27px;
    }
    .contacts__callback-file:before{
        top: 15px;
        font-size: 14px;
    }
    .contacts__callback .btn-wrap{
        margin-bottom: 80px;
        padding-top: 41px;
    }
    .contacts__callback .btn-wrap .btn{
        width: auto;
        margin-right: 30px;
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
        border: 2px solid #fff;
        border-radius: 50px;
    }
    .contacts__callback .btn-wrap a.btn{
        padding-top: 22px;
    }
    /* --------------- /contacts --------------- */

    /* --------------- address --------------- */
    .address {
        width: 548px;
        height: 351px;
        margin-left: -62px;
        margin-bottom: 98px;
        padding-top: 98px;
        padding-left: 113px;
        font-size: 28px;
        line-height: 35px;
    }
    .address address{
        width: 305px;
        margin-bottom: 10px;
    }
    .address a{
        font-size: 19px;
    }
    .address > a {
        margin-right: 37px;
    }
    .address address a {
        font-size: 29px;
    }
    .address__social{
        padding-top: 23px;
    }
    .address__social a{
        width: 20px;
        height: 23px;
        margin-right: 19px;
        background-size: auto 23px;
    }
    .address__social a:hover{
        height: 24px;
    }
    .address__social a+a{
        background-position: -41px 0;
    }
    .address__social a+a+a{
        background-position: -80px 0;
    }
    /* --------------- /address --------------- */

    /* --------------- copyright --------------- */
    .copyright{
        line-height: 14px;
    }
    /* --------------- /copyright --------------- */

    /* --------------- footer --------------- */
    .footer__info{
        margin-right: 59px;
    }
    .footer__menu a{
        margin-left: 44px;
    }
    .footer__menu a:before{
        top: 3px;
        left: -28px;
        width: 6px;
        height: 6px;
    }
    /* --------------- /footer --------------- */
}

@media (min-width: 1320px) {

    /* --------------- site --------------- */
    .site:after {
        content: '';
        display: block;
        clear: both;
        width: 100%;
        height: 320px;
    }
    .site:before {
        width: 125px;
        height: 191px;
        top: 197px;
    }
    .site_contacts {
        background: url("../img/bg-site.png") no-repeat top center/100% auto,
        url("../img/bg-contacts.jpg") no-repeat center 216px/117% auto #b6e2eb;
    }
    .site_contacts .site__content:before{
        top: 415px;
        left: 814px;
    }
    .site_contacts.site_bird .site__content:after{
        top: -28px;
        left: 369px;
    }
    .site_contacts:before{
        display: none;
    }
    .site_air .site__content:before {
        width: 77px;
        height: 276px;
        top: 34px;
        left: 41px;
    }
    .site__header {
        height: 209px;
    }
    .site__footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 320px;
        padding-top: 77px;
        padding-bottom: 0;
        background: url("../img/bg-footer.png") no-repeat -115px 100% #ebece7;
    }
    .site__title {
        font-size: 30px;
        padding: 55px 0 35px;
    }
    .site__title > span {
        display: inline;
    }
    .site__footer-layout{
        width: 1260px;
        margin: 0 auto;
        padding: 0;
    }
    /* --------------- /site --------------- */

    /* --------------- logo --------------- */
    .logo {
        left: 0;
        top: 93px;
    }
    .logo__mobile {
        display: none;
    }
    .logo__desktop {
        display: block;
    }
    /* --------------- /logo --------------- */

    /* --------------- btn --------------- */
    .btn {
        padding: 22px 53px;
    }
    /* --------------- /btn --------------- */

    /* --------------- menu --------------- */
    .menu {
        top: 100px;
    }
    .menu__wrap {
        left: auto;
        top: auto;
        background: transparent;
        width: 638px;
        text-align: justify;
        position: relative;
        border: none;
    }
    .menu__wrap:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
    .menu a {
        display: inline-block;
        vertical-align: top;
        padding: 0;
        border: none;
    }
    .menu__btn {
        display: none;
    }
    /* --------------- /menu --------------- */

    /* --------------- solutions --------------- */
    .solutions p {
        font-size: 30px;
        line-height: 45px;
        margin-bottom: 42px;
    }
    .solutions .site__title {
        padding-bottom: 50px;
    }
    .solutions__wrap {
        max-width: 1000px;
    }
    .solutions__inform {
        padding-top: 34px;
    }
    .solutions__ban img {
        float: none;
        max-width: 100%;
        margin: 0 auto;
    }
    .solutions__indicators li {
        padding: 75px 0;
    }
    .solutions__indicators strong {
        font-size: 50px;
        padding-bottom: 8px;
    }
    .solutions__indicators:after {
        top: 15%;
        left: 15%;
        right: 15%;
        bottom: 15%;
    }
    /* --------------- /solutions --------------- */

    /* --------------- strategy --------------- */
    .strategy p {
        font-size: 35px;
        line-height: 50px;
    }
    .strategy__btns {
        width: 620px;
    }
    #swiffycontainer > div {
        display: block;
    }
    /* --------------- /strategy --------------- */

    /* --------------- service --------------- */
    .service {
        padding: 62px 0 0 0;
    }
    .service__title {
        font-size: 60px;
        padding: 0 10px 37px 101px;
        display: inline-block;
        vertical-align: top;
        width: 330px;
        overflow: hidden;
    }
    .service__preview {
        font-size: 20px;
        margin: 0 0 22px 0;
        padding: 5px 0 0 51px;
        display: inline-block;
        vertical-align: top;
        width: 800px;
    }
    .service__preview:before {
        width: 4px;
        top: 20px;
        bottom: 20px;
    }
    .service__preview .site__title {
        padding: 0 0 9px 0;
    }
    .service__preview p {
        line-height: 30px;
    }
    .service__hide {
        display: inline;
    }
    .service__wrap {
        max-width: 1260px;
        margin: 32px 0 56px 0;
    }
    .service__wrap:after {
    }
    .service__wrap:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: url("../img/line2.png");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
        z-index: 1;
    }
    .service__wrap li {
        margin-bottom: 45px;
    }
    .service__wrap li:before {
        display: none;
    }
    .service__wrap li:nth-child(odd) .service__item:nth-child(odd) > span:first-child,
    .service__wrap li:nth-child(even) .service__item:nth-child(even) > span:first-child {
        padding-top: 0;
    }
    .service__wrap li:nth-child(odd) .service__item:nth-child(even) > span:nth-child(even),
    .service__wrap li:nth-child(even) .service__item:nth-child(odd) > span:nth-child(even) {
        padding-top: 0;
    }
    .service__item {
        margin: 0;
        float: left;
        width: 50%;
    }
    .service__item:nth-child(even) {
        margin: 0;
    }
    .service__item > span {
        padding: 0 50px;
        margin: 0;
    }
    .service__item > span:before {
        margin-bottom: 32px;
    }
    /* --------------- /service --------------- */

    /* --------------- steps --------------- */
    .steps {
        background: url("../img/line1.png") no-repeat, url("../img/line3.png") no-repeat bottom left;
        background-color: #ebece7;
        padding: 50px 0 54px 0;
    }
    .steps .site__title {
        max-width: 630px;
        margin: 0 auto -5px;
    }
    .steps__wrap {
        max-width: 1230px;
        margin-bottom: 78px;
    }
    .steps__ban {
        left: 50%;
        margin-left: -240px;
    }
    .steps__item1 {
        top: 144px;
        left: 0;
        right: 876px !important;
        text-align: right;
        padding-right: 47px;
    }
    .steps__item2 {
        top: 234px;
        left: 0;
        right: 876px !important;
        text-align: right;
        padding-right: 47px;
    }
    .steps__item3 {
        top: 294px;
        left: 0;
        right: 876px !important;
        text-align: right;
        padding-right: 47px;
    }
    .steps li.steps__item1:before,
    .steps li.steps__item2:before,
    .steps li.steps__item3:before {
        left: auto;
        right: 0;
    }
    .steps__item4 {
        top: 144px;
        left: 877px;
    }
    .steps__item5 {
        top: 295px;
        left: 877px;
    }
    .steps__item6 {
        top: 204px;
        left: 877px;
    }
    .steps__btns {
        display: block;
        text-align: center;
        margin-bottom: 47px;
    }
    .steps__btns .btn {
        margin: 0 7px;
        min-width: 330px;
    }
    /* --------------- /steps --------------- */

    /* --------------- reviews --------------- */
    .reviews {
        padding: 120px 0 0 0;
    }
    .reviews .site__wrap {
        min-height: 559px;
    }
    .reviews .site__title {
        padding: 56px 0 68px;
        margin-left: 120px;
    }
    .reviews .swiper-container {
        width: 1140px;
    }
    .reviews__item {
        padding: 0 200px;
    }
    .reviews__item p {
        font-size: 25px;
        line-height: 45px;
        margin-bottom: 40px;
    }
    .reviews .swiper-button-prev,
    .reviews .swiper-button-next {
        margin-top: -108px;
    }
    .reviews__author {
        padding-left: 0;
        margin-left: -9px;
        font-size: 14px;
        line-height: 20px;
    }
    .reviews__author-ava {
        width: 55px;
        height: 55px;
    }
    .reviews__author-info {
        padding: 5px 0 0 40px;
    }
    /* --------------- /reviews --------------- */

    /* --------------- complaisance --------------- */
    .complaisance{
        padding: 58px 0 335px;
        background: url("../img/bg-decorate.jpg") repeat-x 0 100%/auto, url("../img/bg-mini-blog.png") no-repeat 50% 100% #d9ecf0;
    }
    .complaisance .btn_3 {
        left: 318px;
        bottom: -8px;
        width: 235px;
        padding-top: 19px;
    }
    .complaisance .site__title{
        text-align: center;
    }
    .complaisance__img{
        top: -38px;
        right: -133px;
        width: 855px;
        height: 606px;
    }
    .complaisance__content{
        margin-bottom: 123px;
        font-size: 30px;
        line-height: 45px;
        margin-right: 600px;
    }
    .complaisance__author {
        padding-top: 54px;
    }
    /* --------------- /complaisance --------------- */

    /* --------------- mini-blog --------------- */
    .mini-blog__list{
        width: 530px;
        margin-top: 42px;
        font-size: 25px;
        line-height: 30px;
    }
    .mini-blog__list li{
        margin-bottom: 62px;
        padding-left: 181px;
    }
    .mini-blog__list time{
        left: 34px;
        font-size: 14px;
    }
    .mini-blog__list time:before{
        top: 9px;
        left: -31px;
    }
    .mini-blog__new{
        width: 550px;
        padding-top: 35px;
        font-size: 60px;
        line-height: 55px;
    }
    /* --------------- /mini-blog --------------- */

    /* --------------- contacts --------------- */
    .contacts h1{
        margin-bottom: 0;
        padding-top: 56px;
        padding-right: 222px;
        font-size: 59px;
        text-align: right;
    }
    .contacts__callback{
        width: 870px;
        margin: 0;
        padding-left: 63px;
    }
    .contacts .site__title{
        padding-bottom: 33px;
        text-align: left;
    }
    .contacts__callback label{
        font-size: 15px;
    }
    fieldset.contacts__callback-email{
        float: left;
    }
    fieldset.contacts__callback-email input{
        width: 300px;
    }
    fieldset.contacts__callback-phone{
        padding-left: 20px;
    }
    fieldset.contacts__callback-phone label{
        width: auto;
        margin-right: 8px;
    }
    fieldset.contacts__callback-phone input{
        width: 220px;
    }
    fieldset.contacts__callback-textarea{
        padding-top: 0;
        margin-bottom: 10px;
    }
    .contacts__callback-textarea:before{
        top: -139px;
    }
    .contacts__callback-textarea label{
        padding-top: 15px;
    }
    .contacts__callback fieldset textarea{
        display: inline-flex;
        vertical-align: top;
        width: 637px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .contacts__callback-mobile{
        display: none!important;
    }
    .contacts__callback-desktop{
        display: inline-block!important;;
    }
    .contacts__callback .btn-wrap{
        margin-bottom: 100px;
        padding-left: 165px;
        padding-top: 0;
    }
    .contacts__callback .btn-wrap .btn{
        margin-right: 40px;
    }
    /* --------------- /contacts --------------- */

    /* --------------- address --------------- */
    .address{
        margin-top: -85px;
        margin-left: 47px;
        margin-bottom: 208px;
    }
    /* --------------- /address --------------- */

    /* --------------- download --------------- */
    .download{
        display: block;
        margin-bottom: 135px;
        padding-left: 224px;
    }
    .download li{
        display: inline-block;
        vertical-align: top;
        width: 150px;
        margin-right: 86px;
        padding-top: 83px;
        font: 15px/20px "panton-semibold", sans-serif;
        background: url("../img/icons-document.png") no-repeat 0 0;
    }
    .download li a{
        color: #525251;
    }
    .download li a:hover{
        text-decoration: underline;
    }
    /* --------------- /download --------------- */

    /* --------------- copyright --------------- */
    .copyright{
        display: block;
        margin-bottom: 19px;
        font-size: 15px;
        line-height: 20px;
    }
    /* --------------- /copyright --------------- */

    /* --------------- footer --------------- */
    .footer__info{
        margin-right: 113px;
        padding-top: 5px;
        line-height: 21px;
    }
    .footer__menu{
        margin-right: 127px;
    }
    .footer__menu a{
        display: block;
        margin-left: 0;
        font-size: 15px;
        line-height: 29px;
    }
    .footer__menu a:hover{
        text-decoration: underline;
    }
    .footer__menu a:before{
        display: none;
    }
    .footer__navigation{
        display: inline-block;
        margin-right: 50px;
        vertical-align: top;
        font-size: 13px;
        line-height: 20px;
    }
    .footer__navigation:last-child{
        margin-right: 0;
    }
    .footer__navigation a{
        color: #535251;
    }
    .footer__navigation a:hover{
        text-decoration: underline;
    }
    .footer__navigation dt{
        margin-bottom: 13px;
        font: 12px/30px "panton-bold", sans-serif;
        letter-spacing: 0.7px;
        text-transform: uppercase;
    }
    .footer__phone,
    .footer__email,
    .footer__skype{
        display: block;
        font-size: 15px;
        color: #525251;
        cursor: default;
    }
    .footer__email{
        margin-bottom: 13px;
        font-size: 13px;
    }
    .footer__skype{
        position: relative;
        padding-left: 30px;
        font-size: 13px;
    }
    .footer__skype:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: url("../img/icons-skype.png") no-repeat 0 0;
    }
    /* --------------- /footer --------------- */
}